---
import { courses } from "../../data/courses.json";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 items-end gap-12">
      <div class="lg:col-span-2">
        <p class="text-4xl font-semibold font-display text-blue-950">
          Delve into our top-rated courses
        </p>
        <p class="text-slate-600 mt-4 text-base">
          Immerse yourself in classes adored by students globally.
        </p>
      </div>
      <div class="relative flex flex-col max-w-xl gap-2 sm:flex-row lg:ml-auto">
        <a
          href="/courses/all-courses-one"
          class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium md:w-auto h-12 hover:bg-green-600 gap-3 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
          >See all courses
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.25"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M11 9l3 3l-3 3"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z"></path>
          </svg>
        </a>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 mt-12 list-none md:grid-cols-2 lg:grid-cols-3 gap-2 relative p-2 rounded-3xl bg-gradient-to-t from-white/20"
      role="list">
      {
        courses.slice(0, 3).map((template) => (
          <>
            <li class="bg-green-50      p-8 rounded-3xl    flex flex-col h-full justify-between">
              <div>
                <div class="flex flex-col items-center gap-4 w-full">
                  <img
                    class="inline-block w-24 h-24 rounded-full    shrink-0"
                    src={template.avatar}
                    alt={template.description}
                  />

                  <div class="inline-flex items-center gap-4 justify-center">
                    <p class="text-lg  font-display text-green-500 lg:text-xl">
                      {template.title}
                    </p>
                    <p class="text-blue-950 text-xl font-display">
                      {template.pricing}
                    </p>
                  </div>
                  <p class="mt-4 text-sm text-green-900 text-center">
                    {template.description}
                  </p>
                </div>
              </div>
              <div class="flex flex-col mt-4 justify-between items-center gap-4 w-full pt-2">
                <div>
                  <a
                    href={template.url}
                    class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium lg:w-auto h-8 hover:bg-green-100 justify-center px-6 py-1 rounded-full text-green-600 text-center text-xs ">
                    Enroll Now &nbsp; &rarr;
                  </a>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
